/* SECCIÓN GENERAL */
.intro-section {
    background: #0d0d0d;
    padding: 60px 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

/* CONTENEDOR PRINCIPAL */
.intro-container {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 40px;
    align-items: center;
}

/* COLUMNA IZQUIERDA */
.intro-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.intro-title {
    font-size: 2.4rem;
    font-weight: 700;
}

.intro-description {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 8px;
    line-height: 1.6;
    border-left: 4px solid #b80000;
}


/* TARJETAS */
.intro-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro-card {
    background: rgba(255, 255, 255, 0.06);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.3s ease;
}

.intro-card:hover {
    transform: translateY(-4px);
    background: rgba(255, 255, 255, 0.12);
}

/* NÚMERO CÍRCULO */
.circle {
    position: absolute;
    top: -12px;
    left: -12px;
    width: 35px;
    height: 35px;
    background: #fff;
    color: #0d0d0d;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.intro-card p {
    font-size: 0.95rem;
    margin-top: 6px;
    opacity: 0.9;
}

/* COLUMNA DERECHA */
.intro-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img {
    width: 500px;
    height:1000px;
    border-radius: 20px;
    object-fit: cover;
    
}

/* RESPONSIVO */
@media (max-width: 992px) {
    .intro-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .intro-description,
    .intro-card {
        text-align: left;
    }

    .intro-right {
        order: -1;
    }

    .intro-title {
        font-size: 2.2rem;
    }
}

@media (max-width: 600px) {
    .intro-title {
        font-size: 1.9rem;
    }

    .circle {
        width: 30px;
        height: 30px;
        font-size: 0.9rem;
    }
}
