
/* ============================
   CONTENEDOR PRINCIPAL PERFIL
============================ */
.perfil-container {
    display: flex;
    background-color: rgb(255, 255, 255);

}

/* ============================
   COLUMNA IZQUIERDA (USER)
============================ */
.perfil-left {
    flex: 1;
    margin-top: 120PX;
    
}

/* ============================
   COLUMNA DERECHA (PALMARES + LOGROS)
============================ */
.perfil-right {
    margin-top: 100PX;
     margin-right: 100PX;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* ============================
   RESPONSIVE - TABLET
============================ */
@media (max-width: 1024px) {
    .perfil-right {
        margin-right: 40px; /* reduce margen derecho */
    }
}

/* ============================
   RESPONSIVE - MOBILE
============================ */
@media (max-width: 768px) {
    .perfil-container {
        flex-direction: column; /* pasa a columna */
    }

    .perfil-left {
        margin-top: 40px;
    }

    .perfil-right {
        margin-top: 30px;
        margin-right: 0;
        width: 100%;
        gap: 20px;
    }
}

/* ============================
   RESPONSIVE - MOBILE PEQUEÑO
============================ */
@media (max-width: 480px) {
    .perfil-left {
        margin-top: 30px;
    }

    .perfil-right {
        margin-top: 25px;
    }
}
