/* Fondo negro fullscreen */
.layer-video-container {
  width: 100%;
  height: 80vh;
  background: #000;
  display: flex;
  flex-direction: column;       /* Para que el título quede arriba */
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
 
}

/* Título---------------------------------------------- */
.layer-video-title {
  color: #f2f2f2;
  font-family: "Poppins", "Segoe UI", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;

  margin-bottom: 25px;

  /* Estilo serio y moderno */
  border-left: 6px solid #b22222;      /* Rojo oscuro estilo marcial */
  padding-left: 18px;

  /* Suavidad visual */
  line-height: 1.2;
}

/* Título---------------------------------------------- */

/* Contenedor video */
.video-wrapper {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Video más pequeño de alto */
.dojo-video {
  width: 100%;
  height: 60vh;               /* Ajusta el tamaño del reproductor */
  object-fit: contain;
  background: #000;
}

/* ============================
   RESPONSIVE - TABLET
============================ */
@media (max-width: 1024px) {
  .layer-video-container {
    height: auto;
    padding: 40px 20px;
  }

  .layer-video-title {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }

  .dojo-video {
    height: 50vh;
  }
}

/* ============================
   RESPONSIVE - MOBILE
============================ */
@media
